:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0087a7;
    --gris: #757575;
}


/*Truco para uniformidad de sexo entre navegadores*/
html {
    font-size: 62.5%;
}

body {
    font: size 16px;
}

.my-title {
    text-align: center;
    font-size: 3.8rem
}

.my-title span{
    font-size: 2rem
}

.navegacion-principal{
    background-color: var(--secundario);
    /*Margin es por fuera y padding es por dentro*/
    display: flex; /*Flexbox es para alinear elementos*/
    justify-content: space-between;
    font-weight: bold;
    font-size: 2rem;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none; /*Quita el subrayado de los links*/
    padding: 1rem;
}

.contenedor{
    width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}